<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mb-3">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="sharedKey" 
          placeholder="Enter shared key"
          aria-label="Enter shared key"
          onkeydown="return /[a-z, ]/i.test(event.key)"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchClients()"
        >
          Search
        </button>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <button class="btn btn-primary w-100" (click)="setShowAdvancedSearch()">
        <i class="fas fa-plus"></i> Advanced search
      </button>
    </div>
  </div>

  <div class="row mt-2 mb-4" *ngIf="showAdvancedSearch">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="searchForm" (ngSubmit)="searchClients()">
            <div class="form-group row mb-2">
              <label for="phone" class="col-sm-2 col-form-label form-label"
                >Phone</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="phone"
                  formControlName="phone"
                  placeholder="Enter your phone number"
                />
              </div>
            </div>
            <div class="form-group row mb-2">
              <label for="email" class="col-sm-2 col-form-label form-label"
                >E-mail</label
              >
              <div class="col-sm-10">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  placeholder="Enter your email"
                />
              </div>
            </div>
            <div class="form-group row mb-2">
              <label for="start-date" class="col-sm-2 col-form-label form-label"
                >Start date</label
              >
              <div class="col-sm-10">
                <input
                  type="date"
                  class="form-control"
                  id="start-date"
                  formControlName="startDate"
                  placeholder="Choose start date"
                />
              </div>
            </div>
            <div class="form-group row mb-2">
              <label for="end-date" class="col-sm-2 col-form-label form-label"
                >End date</label
              >
              <div class="col-sm-10">
                <input
                  type="date"
                  class="form-control"
                  id="end-date"
                  formControlName="endDate"
                  placeholder="Choose end date"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10 d-flex justify-content-start">
                <button type="submit" class="btn btn-primary me-2">
                  <i class="fas fa-search"></i> OK
                </button>
                <button
                  type="button"
                  (click)="resetSearch()"
                  class="btn btn-secondary"
                >
                  <i class="fas fa-sync"></i> Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
