<div class="row">
  <div class="col-4">
    <app-nav></app-nav>
  </div>
  <div class="col-8">
    <div class="my-2 text-left">
      <app-panel-buttons
        (clientCreated)="onClientCreated()"
      ></app-panel-buttons>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="sharedKey"
            placeholder="Enter shared key"
            aria-label="Enter shared key"
            onkeydown="return /[a-z, ]/i.test(event.key)"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchClients()"
          >
            Search
          </button>
        </div>
      </div>
      <div class="col-6">
        <button
          class="btn btn-rounded btn-primary me-2"
          (click)="setShowAdvancedSearch()"
        >
          <i class="fas fa-plus"></i> Advanced search
        </button>
      </div>
    </div>

    <div class="mt-2 row mb-4" *ngIf="showAdvancedSearch">
      <div class="col-9">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="searchForm" (ngSubmit)="searchClients()">
              <div class="form-group row mb-2">
                <label for="phone" class="col-sm-2 col-form-label form-label"
                  >Phone</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    formControlName="phone"
                    placeholder="Enter your phone number"
                  />
                </div>
              </div>
              <div class="form-group row mb-2">
                <label for="email" class="col-sm-2 col-form-label form-label"
                  >E-mail</label
                >
                <div class="col-sm-10">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                    placeholder="Enter your email"
                  />
                </div>
              </div>
              <div class="form-group row mb-2">
                <label
                  for="start-date"
                  class="col-sm-2 col-form-label form-label"
                  >Start date</label
                >
                <div class="col-sm-10">
                  <input
                    type="date"
                    class="form-control datepicker"
                    id="start-date"
                    formControlName="startDate"
                    placeholder="Choose start date"
                  />
                </div>
              </div>
              <div class="form-group row mb-2">
                <label for="end-date" class="col-sm-2 col-form-label form-label"
                  >End Date</label
                >
                <div class="col-sm-10">
                  <input
                    type="date"
                    class="form-control datepicker"
                    id="end-date"
                    formControlName="endDate"
                    placeholder="Choose end date"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-6" style="display: flex; column-gap: 20px">
                  <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i> OK
                  </button>
                  <button
                    type="button"
                    (click)="resetSearch()"
                    class="btn btn-secondary ml-2"
                  >
                    <i class="fas fa-sync"></i> Reset
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2 class="text-primary">Clients</h2>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Shared Key</th>
            <th>Business ID</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Data Added</th>
            <th class="text-primary text-center">
              <i class="fas fa-pencil"></i>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let client of clients">
          <tr>
            <td>{{ client.sharedKey }}</td>
            <td>{{ client.businessId }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.dataAddedFormatted }}</td>
            <td class="text-center">
              <a class="text-secondary">
                <i class="fas fa-pencil"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
