<div>
  <!-- Botones de acción -->
  <div class="mb-4">
    <button class="btn btn-primary me-2" (click)="open(content)">
      <i class="fas fa-plus"></i> New
    </button>
    <button class="btn btn-secondary" (click)="exportClients()">
      <i class="fas fa-file" aria-hidden="true"></i> Export
    </button>
  </div>

  <!-- Mensaje de éxito -->
  <ng-container *ngIf="successMessage">
    <ngb-alert type="success">{{ successMessage }}</ngb-alert>
  </ng-container>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <form [formGroup]="createClientForm" (ngSubmit)="createClient(modal)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Client</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <!-- Mensaje de error -->
      <ng-container *ngIf="errorMessage">
        <ngb-alert type="danger">{{ errorMessage }}</ngb-alert>
      </ng-container>

      <!-- Formulario -->
      <div class="mb-3">
        <label for="sharedKey" class="form-label">Shared key</label>
        <input
          id="sharedKey"
          class="form-control"
          type="text"
          formControlName="sharedKey"
        />
      </div>
      <div class="mb-3">
        <label for="businessId" class="form-label">Business Id</label>
        <input
          id="businessId"
          class="form-control"
          type="text"
          formControlName="businessId"
        />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input
          id="phone"
          class="form-control"
          type="text"
          formControlName="phone"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          id="email"
          class="form-control"
          type="email"
          formControlName="email"
        />
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        [disabled]="createClientForm.invalid"
        class="btn btn-primary"
      >
        Ok
      </button>
    </div>
  </form>
</ng-template>
